<div class="container">
	<div class="row">
		<div class="col s12 m4">
			<div class="user-wrapper wrappers">
				<img src="/uploads/images/{{info.basicInfo.image}}" class="responsive-img circle userImg">
				<h2 class="center-align userTitle"> {{info.basicInfo.first_name}} {{info.basicInfo.last_name}}</h2>
				<div id="user_name" value={{info.basicInfo.user_name}}></div>
				<p class="userDescription center-align">{{info.basicInfo.description}}</p>
				<div class="row">
					<a href="#" data-activates="slide-out" class="button-collapse btn menuBtn"><i class="material-icons medium">menu</i></a>
				</div>
			</div>
			{{!--=======USER ACTIVITY=======--}}
			<div class="user-activity-wrapper wrappers">
				<div class="row">
					<div class="col s12">
						<h2 class="center-align">Progress Feed</h2>
						<hr>
					</div>
					<div class="col s12">

						<ul class="collection" id="userActivityInsert"></ul>
					</div>
				</div>
			</div>
			{{!--Chart Wrapper--}}
		</div>
		<div class="col s12 m8 chartContainer">
			<div class="chart-wrapper">
				<div id="user-name" value="{{info.basicInfo.user_name}}"></div>

				<!-- =============COLLAPSIBLE POPOUT===holds individual collapsibles============= -->
				<ul class="collapsible popout" data-collapsible="accordion">
					<!-- =======GOLF======= -->
					<li>
						<div id="golfCollapsible" class="collapsible-header getChartData active" data-activity="golf" value="golf"><i class="material-icons">golf_course</i><span class="fontCollapsible">Golf</span>
							<span class="fontGrowth">Score Growth: &nbsp;<span class="golfTotalScore"></span></span>
						</div>
						<!-- =======BODY for BUTTONS======= -->
						<!-- =======BODY for CHART======= -->
						<div class="collapsible-body chartDiv golfChartDiv">
							<canvas class="chartArea golfCanvas" height="300" width="580"></canvas>
						</div>
					</li>

					<!-- =======GUITAR======= -->
					<li>
						<div id="guitarCollapsible" class="collapsible-header getChartData" data-activity="guitar" value="guitar"><i class="material-icons">music_note</i><span class="fontCollapsible">Guitar</span>
							<span class="fontGrowth">Hours Growth: &nbsp;<span class="guitarTotalScore"></span></span>
						</div>
						<!-- =======BODY for BUTTONS======= -->
						<div class="collapsible-body">
							<div class="row tight-top-spacing">
								<div class="col s6">
									<a class=" btn cummulative waves-effect waves-light" data-activity="guitar"><i class="material-icons">trending_up</i>Cummulative</a>
								</div>
								<div class="col s6">
									<a class=" btn dayCreated waves-effect waves-light" data-activity="guitar"><i class="material-icons">assessment</i>Bar Graph</a>
								</div>
							</div>
						</div>
						<!-- =======BODY for CHART======= -->
						<div class="collapsible-body chartDiv guitarChartDiv">
							<canvas class="chartArea" height="300" width="580"></canvas>
						</div>
					</li>

					<!-- =======LANG======= -->
					<li>
						<div id="langCollapsible" class="collapsible-header getChartData tertiaryC" data-activity="lang" value="lang"><i class="material-icons">translate</i><span class="fontCollapsible">Español</span>
							<span class="fontGrowth">Hours Growth: &nbsp;<span class="langTotalScore"></span></span>

						</div>
						<!-- =======BODY for BUTTONS======= -->
						<div class="collapsible-body">
							<div class="row tight-top-spacing">
								<div class="col s6">
									<a class="btn cummulative waves-effect waves-light" data-activity="lang"><i class="material-icons">trending_up</i>Cummulative</a>
								</div>
								<div class="col s6">
									<a class="btn dayCreated waves-effect waves-light" data-activity="lang"><i class="large material-icons">assessment</i>Bar Graph</a>
								</div>
							</div>
						</div>
						<!-- =======BODY for CHART======= -->
						<div class="collapsible-body chartDiv langChartDiv">
							<canvas class="chartArea" height="300" width="580"></canvas>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
{{!--=============!!!!!!!!SIDE NAV!!!!!!!!!=============--}}
<div>
	<ul id="slide-out" class="side-nav">
		<li class="no-padding">
			<ul class="collapsible collapsible-accordion">
				<li>
					<a class="collapsible-header"><i class="material-icons">supervisor_account</i> Match</a>
					<div class="collapsible-body">
						<h5>Practice with Others!</h5>
						<p>We match you according to:</p>
						<ul>
							<li><i class="material-icons">color_lens</i> Hobby</li>
							<li><i class="material-icons">assessment</i> Experience Level</li>
							<li><i class="material-icons">location_on</i> Location</li>
						</ul>
						<a id="getMatchedBtn" class="btn waves-effect waves-light matchBtn hoverable">Match</a>
					</div>
				</li>
			</ul>
			<ul class="collapsible collapsible-accordion">
				<li>
					<a class="collapsible-header"><i class="material-icons">playlist_add</i> Add Skills</a>
					<div class="collapsible-body">
						<h5>Add Skills to Work On!</h5>
						<a id="setSkillsBtn" class="btn waves-effect waves-light matchBtn  hoverable"><i class="material-icons">playlist_add</i> Skills!</a>
					</div>
				</li>
			</ul>
			<ul class="collapsible collapsible-accordion">
				<li>
					<a class="collapsible-header"><i class="material-icons">library_add</i> Score</a>
					<div class="collapsible-body">
						<h5>Add Skills to Work On!</h5>
						<ul>
							<li>
								<a id="golfScoreBtn" href="#!"><i class="material-icons">golf_course</i> Golf</a></li>
				</li>
				<li>
					<a id="guitarScoreBtn" href="#!"><i class="material-icons">music_note</i> Guitar</a>
				</li>
				<li>
					<a id="langScoreBtn" href="#!"><i class="material-icons">translate</i> Spanish</a>
				</li>
				</ul>
				</div>
		</li>
		</ul>
		</li>
	</ul>
</div>
{{!--================GOLF SCORE Modals================!--}}
<div id="golfModal" class="modal bottom-sheet">
	<div class="modal-content">
		<h4>Enter Score</h4>
		<form>
			<div class="row">
				<div class="col s8 offset-s2">
					<input id="userName" type="hidden" value="{{info.basicInfo.user_name}}">
					<p class="range-field">
						<span><i class="material-icons">thumb_up</i></span>
						<input type="range" id="golfScore" min="50" max="120" />
						<span><i class="material-icons">thumb_down</i></span>
					</p>
				</div>
			</div>

		</form>
	</div>
	<div class="modal-footer">
		<a type="submit" id="submitGolfScore" class="modal-action modal-close waves-effect waves-green btn-flat">Enter</a>
	</div>
</div>
{{!--================GUITAR HORUS Modals================!--}}
<div id="guitarModal" class="modal bottom-sheet">
	<div class="modal-content">
		<h4>Enter Score</h4>
		<form>
			<div class="row">
				<div class="col s8 offset-s2">
					<input id="userName" type="hidden" value="{{info.basicInfo.user_name}}">
					<p class="range-field">
						<span><i class="material-icons">query_builder</i></span>
						<input type="range" id="guitarHours" min="1" max="10" />
						<span><i class="material-icons">query_builder</i></span>
					</p>
				</div>
			</div>

		</form>
	</div>
	<div class="modal-footer">
		<a type="submit" id="submitGuitarScore" class="modal-action modal-close waves-effect waves-green btn-flat">Enter</a>
	</div>
</div>
{{!--================SPANISH HORUS Modals================!--}}
<div id="spanishModal" class="modal bottom-sheet">
	<div class="modal-content">
		<h4>Enter Score</h4>
		<form>
			<div class="row">
				<div class="col s8 offset-s2">
					<input id="userName" type="hidden" value="{{info.basicInfo.user_name}}">
					<p class="range-field">
						<span><i class="material-icons">query_builder</i></span>
						<input type="range" id="spanishHours" min="1" max="10" />
						<span><i class="material-icons">query_builder</i></span>
					</p>
				</div>
			</div>

		</form>
	</div>
	<div class="modal-footer">
		<a type="submit" id="submitSpanishScore" class="modal-action modal-close waves-effect waves-green btn-flat">Enter</a>
	</div>
</div>


{{!--==========update profile MODAL===========--}}
<div id="updateProfile" class="modal bottom-sheet">
	<div class="modal-content">
		<div class="container">
			<div class="row">
				<div class="col s12">
					<h4>Edit your Info</h4>
					<hr>
					<h5>upload image</h5>
					<form action="/image-upload" method="POST" enctype="multipart/form-data">
						Select an image to upload:
						<input type="file" name="image">
						<input name="username" type="hidden" value="{{info.basicInfo.user_name}}">
						<input id="imageUploadSubmit" type="submit">
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{{!--===============MODALS FOR SETTING SKILLS=========================--}}
<div id="setSkillsModal" class="modal">
	<div class="modal-content">
		{{!---------------handlebars: display all craft options----------------}}
		{{> craftOptionsPartial}}
	</div>
	<div class="modal-footer">
		<a class=" modal-action modal-close waves-effect waves-green btn-flat">Done</a>
	</div>
</div>
{{!--===============ADDING GOLF SKILL MODAL=================--}}
<div id="addGolfSkillsDataModal" class="modal bottom-sheet">
	<div class="modal-content">
		<div class="container">
			<div class="row">
				<div class="col s12">
					<h4 class="center-align">Golf</h4>
					<hr>
					<form class="row">
						<div class="col s6">
							<h5>Years of Experience</h5>
							<input type="hidden" id="user" value="{{info.basicInfo.user_name}}">
							<p class="range-field">
								<input type="range" id="golfYearsExperience" min="0" max="30" />
							</p>
						</div>
						<div class="col s6">
							<h5>How would you rate yourself?</h5>
							<p>
								<input class="with-gap" name="golf-rating" type="radio" id="rating1" value="1" />
								<label for="rating1">Beginner</label>
							</p>
							<p>
								<input class="with-gap" name="golf-rating" type="radio" id="rating2" value="2" />
								<label for="rating2">Experienced</label>
							</p>
							<p>
								<input class="with-gap" name="golf-rating" type="radio" id="rating3" value="3" />
								<label for="rating3">Expert</label>
							</p>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="submit" id="submitGolfSkillData" class="modal-action modal-close btn btn-large waves-effect waves-light orange">Submit</button>
	</div>
</div>
{{!--===============ADDING Guitar SKILL MODAL=================--}}
<div id="addGuitarSkillsDataModal" class="modal bottom-sheet">
	<div class="modal-content">
		<div class="container">
			<div class="row">
				<div class="col s12">
					<h4 class="center-align">Guitar</h4>
					<hr>
					<form class="row">
						<div class="col s6">
							<h5>Years of Experience</h5>
							<input type="hidden" id="user" value="{{info.basicInfo.user_name}}">
							<p class="range-field">
								<input type="range" id="guitarYearsExperience" min="0" max="30" />
							</p>
						</div>
						<div class="col s6">
							<h5>How would you rate yourself?</h5>
							<p>
								<input class="with-gap" name="guitar-rating" type="radio" id="guitar-beginner" value="1" />
								<label for="guitar-beginner">Beginner</label>
							</p>
							<p>
								<input class="with-gap" name="guitar-rating" type="radio" id="guitar-exp" value="2" />
								<label for="guitar-exp">Experienced</label>
							</p>
							<p>
								<input class="with-gap" name="guitar-rating" type="radio" id="guitar-expert" value="3" />
								<label for="guitar-expert">Expert</label>
							</p>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="submit" id="submitGuitarSkillData" class="modal-action modal-close btn btn-large waves-effect waves-light orange">Submit</button>
	</div>
</div>
{{!--Div holds dynamically created Craft Options Modal--}}
<div id="craftOptionsModal"></div>
{{!--================BOTTOM MODAL FOR DISPLAYING MATCHES===================--}}
<div id="matchesModal" class="modal bottom-sheet">
	<div class="modal-content">
		<div class="container">
			<div class="row">
				<div class="col s12">
					<h4 class="center-align">Your Matches</h4>
					<hr>
					<div class="row">
						<div class="col s12 m6">
							<ul class="collection" id="matchContentInsert"></ul>
						</div>
						<div class="col s12 m6">
							<div id="yelpContent">

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{{!--===============MESSAGING MODAL=========================--}}
<div id="messagingModal" class="modal">
	<div id="preloaderInsert">
		<div class="indeterminate"></div>
	</div>
	<div class="modal-content">
		<div class="container">
			<div class="row">
				<div class="col s2" id="messageUserImg"></div>
				<div class="col s6" id="messageUserName"></div>
			</div>
			<div class="row">
				<div class="col s12">
					<form class="messagingArea">
						<textarea></textarea>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<a class=" modal-action modal-close waves-effect waves-green btn-flat">Done</a>
	</div>
</div>